.summoner-info-block {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  .summoner-icon-container {
    position: relative;
    height: 10em;
    border: 2px solid #7e633b;
    .summoner-icon {
      height: 100%;
    }
    .summoner-level {
      position: absolute;
      color: white;
      bottom: 0;
      right: 0;
      padding: 0.2em 0.2em 0.1em 0.3em;
      background-color: black;
      border-radius: 4px 0 0 0;
      font-size: 1.1em;
    }
  }
  .summoner-rank-infos {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-left: 1em;
  }

  .summoner-name {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: rgb(240, 240, 240);
    margin-bottom: 0.3em;
    span {
      font-size: 0.6em;
      color: #7e633b;
    }
  }
}
