.summoner-rank-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .summoner-rank-icon {
    width: 4.5em;
  }
  h4 {
    font-size: 1.1em;

    color: #c4b998;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
    strong {
      color: #dbae6a;
      font-weight: 600;
    }
  }
  p {
    margin-left: 1em;
    text-align: left;
    color: #c4b998;
  }
}
