.stats-block {
  .list-mastery-amount {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    color: white;

    .mastery7-amount-block {
      padding-bottom: 2em;
      .mastery-icon {
        width: 6.5em;
      }
      .mastery-amount {
        font-size: 1em;
      }
    }
    .mastery6-amount-block {
      .mastery-icon {
        width: 5em;
      }
      .mastery-amount {
        font-size: 0.9em;
      }
    }
    .mastery5-amount-block {
      .mastery-icon {
        width: 4.5em;
      }
      .mastery-amount {
        font-size: 0.8em;
      }
    }
  }

  .questProgression {
    margin-top: 2em;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #dbae6a;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #c4b99893;
  }

  .nb-total-champion {
    margin: 0.5em;
    font-size: 0.8em;
    color: #c4b998;
  }
}
