.home-content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;

  .home-search-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 4em;
    h1 {
      font-size: 5em;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
      color: #f3c35c;
      margin-bottom: 1.5em;
      font-family: "FizzQuadrataRegular";
    }
    h4 {
      font-family: "FizzQuadrataRegular";
      font-size: 1.3em;
      color: #c79f49;
      margin: 1em;
    }
    .lq-searchBar {
      position: relative;
      width: 40em;
      max-width: 80vw;
      height: 1.5em;
      margin: 0em;
      margin-bottom: 2em;
    }

    .lq-sumList {
      justify-content: center;
      margin-bottom: 3em;
      font-size: 1.2em;
    }
  }
}
