.text-block-content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  //justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 17em;
  background-color: rgba(0, 0, 0, 0.616);
  border-style: solid;
  border-width: 15px;
  border-image: url("../../Assets/mastery7_icon.png") 30;
  border-image-outset: 15px;
  margin: 1em;
  padding-bottom: 2em;

  font-family: "FizzQuadrataRegular";

  h2 {
    font-size: 1.3em;
    margin: 1em;
  }

  p {
    padding: 0 1.5em 0 1.5em;
    line-height: 1.1em;
  }
  .text-block-nav {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    bottom: 0em;
    .nav-element {
      border-radius: 0.1em;
      width: 0.7em;
      height: 0.7em;
      background-color: #c79f49;
      margin: 0.7em;

      &.home-selected-nav-elt {
        border: 2px solid #d4ad64;
        box-shadow: 0px 0px 3px #d4ad64;
      }
      &:hover {
        border: 2px solid #d4ad64;
        box-shadow: 0px 0px 3px #d4ad64;
        cursor: pointer;
      }
    }
  }
}
