.home-background-container {
  top: 0;
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .background-layer {
    position: inherit;
  }

  .layer-1 {
    animation: animStar 150s linear infinite;
  }
  .layer-2 {
    animation: animStar 200s linear infinite;
  }
  .layer-3 {
    animation: animStar 300s linear infinite;
  }
  .layer-4 {
    width: 100%;
    animation: animStar 400s linear infinite;
  }
}

.background-mastery-icon {
  position: absolute;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100vh);
  }
}
