.champion-ui {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 6em;
  height: 6em;
  margin: 1em;
  border: 2px solid black;
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  .champion-img-container {
    position: relative;
    width: 100%;
    height: 83%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    .champion-img {
      max-width: 100%;
    }
    // Bordure noire en fondu
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid red;
      background: rgb(0, 0, 0);
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(168, 168, 168, 0) 20%,
          rgba(177, 177, 177, 0) 100%
        ),
        linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(168, 168, 168, 0) 22%,
          rgba(177, 177, 177, 0) 100%
        );
      //z-index: 2;
    }
  }

  .champion-name-container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0em;
    bottom: 0em;
    padding: 1px;

    background: rgb(36, 224, 207);
    background: linear-gradient(
      90deg,
      rgb(102, 192, 184) 0,
      rgb(74, 152, 172) 69%,
      rgb(41, 60, 97) 100%
    );
  }

  .champion-name {
    position: relative;
    padding: 0.3em;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    color: rgb(231, 231, 231);

    background: rgb(17, 45, 101);
    background: linear-gradient(
      90deg,
      rgb(41, 60, 97) 0%,
      rgb(74, 152, 172) 69%,
      rgb(102, 192, 184) 100%
    );
  }
}
