.summonerInfo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  .profileIconContainer {
    position: relative;
    width: 3em;
    height: 3em;
    border: 2px solid #a87d3d;
    border-radius: 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    & img {
      width: 100%;
      height: 100%;
    }
    & .summonerLevel {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 2px 2px 2px 4px;
      background-color: black;
      border-radius: 4px 0 0 0;
    }
  }
  .pseudoAndMasteries {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    // width: 8.5em;
    padding-left: 0.5em;
    padding-top: 0.1em;

    .summonerName {
      width: 9.5em;
      text-align: left;
      white-space: nowrap;

      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 0.6em;
      overflow: hidden;

      text-overflow: ellipsis;
      text-shadow: 2px 2px 2px black;
      .tag {
        overflow: hidden;
        width: 1.5em;
        font-size: 0.7em;
        color: #ba7e23;
        text-overflow: ellipsis;
      }
    }
    .masteriesStats {
      display: flex;
      flex-flow: row nowrap;
      .theQuestProgression {
        display: block;
        margin-bottom: 0.4em;
        margin-left: 0.2em;
        color: #ffc851;
        font-weight: 600;
      }
      .totalMasteryPoint {
        margin-left: 0.3em;
        color: #c3932e;
        font-size: 0.8em;
      }
    }
  }
}
