.leagueInfo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 2.8em;

  .tierIcon {
    height: 2.8em;
    -webkit-filter: drop-shadow(3px 3px 3px #000000);
    filter: drop-shadow(3px 3px 3px #000000);
  }
  .textInfo {
    margin-left: 0.4em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    .rankDiv {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0.2em;
      .rank {
        font-weight: 600;
      }
      .division {
        margin-left: 0.3em;
      }
      .lp {
        font-size: 0.9em;
        margin-left: 0.4em;
      }
    }
    .winrateDiv {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.9em;
      margin-left: 0.3em;
      color: #ecc062;
      .winrate {
        font-weight: 600;
      }
      .gameAmount {
        font-size: 0.9em;
        margin-left: 0.4em;
      }
    }
    span {
    }
  }
}
