.summonerRow > div {
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 3px;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.gameParticipant {
  position: relative;
  width: 15em;
  margin-left: 1em;
  a {
    all: unset;
    &:hover {
      cursor: pointer;
    }
  }

  .summonerRow {
    color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding-top: 2px;
    padding-bottom: 1px;

    .leagueStats {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      .flex {
        font-size: 0.8em;
        margin-left: 1em;
      }
    }
  }

  .blueSide {
    background-color: rgb(31, 45, 75);
    background: linear-gradient(
      140deg,
      rgb(76, 165, 183) 0%,
      rgb(50, 67, 104) 35%,

      rgb(16, 15, 31) 100%
    );
  }
  .redSide {
    // flex-direction: row-reverse;
    background-color: rgb(91, 37, 37);
    background: linear-gradient(
      200deg,
      rgb(160, 73, 171) 0%,
      rgb(86, 36, 78) 45%,
      rgb(13, 12, 30) 100%
    );
  }
  .PerksAndSummoners {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .summonerSpells {
      display: flex;
      flex-flow: column nowrap;
      img {
        width: 1.5em;
        margin: 0.2em;
        border-radius: 4px;
      }
    }
  }
  .tagsContainer {
    height: 3.5em;
    // width: 15em;
  }
}
