.perks {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  .mainPerk {
    height: 3.4em;
    img {
      height: 100%;
      -webkit-filter: drop-shadow(3px 3px 3px #000000);
      filter: drop-shadow(3px 3px 3px #000000);
    }
  }

  .perkStyle {
    display: flex;
    flex-flow: row nowrap;
  }
  .perkSubStyle {
    display: flex;
    flex-flow: row nowrap;
  }
  .perkStatModes {
    display: flex;
    flex-flow: column nowrap;

    img {
      height: 1.2em;
      margin: 0;
    }
  }

  img {
    height: 1.5em;
    margin: 0.1em;
    -webkit-filter: drop-shadow(3px 3px 3px #000000);
    filter: drop-shadow(3px 3px 3px #000000);
  }
}
