.lq-searchBar {
  width: 18em;
  margin: 1em;
  margin-right: 5em;
  margin-left: 2em;
  background-color: none;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  input[type="text"] {
    width: 100%;
    font-size: 1.2em;
    color: #c4b998;
    padding: 0.5em;
    background-color: #111;
    border: 2px solid #7e633b;
    &:focus-visible {
      outline: none;
    }
    &:focus {
      border: 2px solid #dbae6a;
    }
  }
  .refresh-block {
    position: relative;
    margin-left: 1em;

    .refresh-icon {
      top: -0.7em;
      position: absolute;
      width: 1.5em;
    }
    .refresh-icon-highlight {
      top: -0.7em;
      position: absolute;
      width: 1.5em;
      opacity: 0%;
      transition: opacity 0.5s;

      &:hover {
        z-index: 1;
        opacity: 100%;
      }
    }
  }
}
