.lq-sumList {
  display: flex;
  flex-flow: row wrap;
  .lq-sumList-elt {
    margin: 0.3em;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
    .sumIcon {
      width: 3em;
      border: 1px solid #7e633b;
      border-radius: 2px;
      &:hover {
        border: 1px solid #dbae6a;
      }
    }
    .sumName {
      color: white;
      font-size: 0.8em;
    }
  }
}
