.lq-mastery {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 10em;
  height: 10em;
  margin: 1em;
  border: 2px solid black;

  .champion-img-container {
    position: relative;
    width: 100%;
    height: 84%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    .champion-img {
      max-width: 100%;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      // border: 1px solid red;
      background: rgb(0, 0, 0);
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(168, 168, 168, 0) 20%,
          rgba(177, 177, 177, 0) 100%
        ),
        linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(168, 168, 168, 0) 22%,
          rgba(177, 177, 177, 0) 100%
        );
      //z-index: 2;
    }
  }

  .champion-name-container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 17%;
    left: 0em;
    bottom: 0em;
    padding: 1px;

    .champion-name {
      position: relative;
      padding: 0.3em;
      font-weight: bold;
      text-shadow: 1px 1px 3px black;
      color: rgb(231, 231, 231);
    }
  }

  .mastery-overlay {
    position: absolute;
  }

  .mastery-icon {
    position: absolute;
    z-index: 1;
    top: -1.4em;
    left: -1.35em;
    width: 4em;
  }

  .chest-icon-container {
    position: absolute;
    top: 0em;
    right: 0em;
    overflow: hidden;
    .chest-icon {
      //position: absolute;
      position: relative;
      z-index: 1;
      top: -0.2em;
      right: -0.3em;
      width: 2em;
    }
  }

  .champion-mastery-point {
    position: absolute;
    bottom: 2.5em;
    width: 100%;
    font-size: 0.78em;
    font-weight: bold;
    color: rgb(230, 230, 230);
    text-align: center;
    user-select: none;
  }

  .token-container {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 1.8em;
    bottom: 3em;
    left: 0;
    .token-mastery {
      padding: 0.2em;
      width: 1em;
    }
  }
}
