.summoner-info-block {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  .summoner-icon {
    border: 2px solid #7e633b;
    width: 10em;
  }
  .summoner-rank-infos {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-left: 1em;

    h4 {
      color: #dbae6a;
      margin: 0.5em;
    }
    p {
      margin-left: 1em;
      text-align: left;
      color: #c4b998;
    }
  }

  .summoner-name {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: rgb(240, 240, 240);
  }
}
