.lq-sucessContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 3em;
  .summoner-block {
    margin: 1em;
    .summoner-icon {
      border: 2px solid #7e633b;
      width: 10em;
    }
    .summoner-name {
      margin: 0.2em;
      font-size: 1.4em;
      letter-spacing: 1px;
      color: rgb(240, 240, 240);
    }
  }

  .questProgression-block {
    margin-left: 1.5em;
    margin-right: 1.5em;
    .main-achievement-image {
      width: 13em;
    }
  }

  .stats-block {
    .questProgression {
      margin: 1em;
      font-size: 1.4em;
      letter-spacing: 1px;
      color: #dbae6a;
    }
    .nb-total-champion {
      margin: 0.2em;
      font-size: 1.1em;
      letter-spacing: 1px;
      color: #c4b998;
    }
    .list-mastery-amount {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      .mastery-amount-block {
        margin: 1em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        .mastery-icon {
          width: 5em;
        }
        .mastery-amount {
          margin: 0.2em;
          font-size: 1.4em;
          letter-spacing: 1px;
          color: #c4b998;
        }
      }
    }
  }
  .medailles {
    width: 40%;
    border: 1px solid red;
  }
}
